# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/
.env

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
htmlcov/
coverage.xml

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos.
*.manifest
*.spec

# Editor directories and files
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Jupyter
.ipynb_checkpoints

# Sensitive / local config
instance/
local_settings.py

# Logs
*.log

# Other
*.sqlite3
